
form{ 
    width: 300px;
    margin:auto;
}
input.ng-valid {
    border: 2px solid green;
    box-shadow: 2px 2px 3px green;
}
input.ng-invalid {
    border:2px solid red;
    box-shadow: 2px 2px 3px red;
}