<!-- <app-demobinding></app-demobinding> -->
<!-- <app-demo></app-demo> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-employee></app-employee> -->
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
<!-- <app-studentinfo></app-studentinfo> -->
<!-- <app-salaryslip></app-salaryslip> -->
<!-- <app-fordemo1></app-fordemo1> -->
<!-- <app-product></app-product> -->
<!-- <app-student></app-student> -->
<!-- <app-testswitch></app-testswitch> -->
<!-- <app-iterationdemo></app-iterationdemo> -->
<!-- <app-iterationandcondition></app-iterationandcondition> -->
<!-- <app-styledemo></app-styledemo> -->
<!-- <app-classdemo></app-classdemo> -->
<!-- <app-component></app-component> -->
<!-- <app-hiddenproperty></app-hiddenproperty>////////////// -->
<!-- <app-brosereventdemo></app-brosereventdemo>///////// -->
<!-- <app-child></app-child> -->
<!-- <app-parent></app-parent> -->
<!-- <app-employee-crud-example></app-employee-crud-example> -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-pipedemotwo></app-pipedemotwo> -->

<!-- {{ 5 | custompipe: '2' }}<br /> -->
<!-- {{ 5 | custompipe }}<br /> -->
<!-- <app-productpipedemo></app-productpipedemo> -->
<!-- <app-employeefilterpipe></app-employeefilterpipe> -->
<!-- <app-msgdemopipe></app-msgdemopipe> -->
<!-- <app-productsdata></app-productsdata> -->
<!-- <app-lifecycle></app-lifecycle>  -->
<!-- <app-parentcycle></app-parentcycle> -->
<!-- <app-parentsearch></app-parentsearch> -->
<!-- <app-contactform></app-contactform> -->
<!-- <app-templateform></app-templateform> -->
<!-- <app-inputvalidation></app-inputvalidation> -->
<!-- <app-validateformdemo></app-validateformdemo> -->
<!-- <app-lifecyclemethods></app-lifecyclemethods> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-registrationbuilder></app-registrationbuilder> -->
<!-- <app-servicedemo></app-servicedemo> -->
<!-- <app-employeecrudservicedemo></app-employeecrudservicedemo> -->
<!-- <app-registerservice></app-registerservice> -->
<!-- <app-template-for-component></app-template-for-component> -->
<!-- <app-customvalidation></app-customvalidation> -->
<!-- <app-observabledemo1></app-observabledemo1> -->
<!-- <app-httpclientdemo></app-httpclientdemo> -->
<!-- <app-serviceusinghttpclient></app-serviceusinghttpclient> -->
<!-- <app-form-array-demo></app-form-array-demo> -->

<!-- spring-boot-crud -->

<!-- <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse justify-content-center">
          <h4 class="text-light bg-dark">Student details</h4>
        </div>
      </nav>
    </header>
   
    Begin page content -->
<!-- <main role="main" class="flex-shrink-0">
      <div class="container">
        <div class="mt-5 col-12 mt-6 d-flex justify-content-center">
          <app-student></app-student>
        </div>
      </div>
    </main>
   
    <footer class="footer fixed-bottom bg-dark">
      <div class="container">
        <span class="text-muted">Spring boot with angular example</span>
      </div>
    </footer>
  </body> -->

<!-- Routing 1st demo -->

<!-- <div class="container-fluid">

  <div class="btn-toolbar bg-danger text-white">
    <div class="btn-group">
      <a routerLink="" class="btn btn-danger"
        ><span class="fa fa-home"></span>Home</a
      >
      <a routerLink="about" class="btn btn-danger"><span class="fa fa-id-card"></span>About Us</a>
      <a routerLink="product" class="btn btn-danger"><span class="fa fa-images"></span>Product</a>
      <a routerLink="dash-board" class="btn btn-danger"><span class="fa fa-images"></span>Dash-Board</a>
      <a routerLink="contact" class="btn btn-danger"><span class="fa fa-envelope"></span>Contact Us</a>
      <a routerLink="login" class="btn btn-danger"><span class="fa fa-images"></span>Login</a>
      <a routerLink="logout" class="btn btn-danger"><span class="fa fa-images"></span>Logout</a>
    </div>
  </div>
  <div style="height: 300px; margin-top: 50px">
    <router-outlet></router-outlet>
  </div>
</div> -->
<!-- 
===============================================================================================================
 -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">
            User Api Example
          </h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addUser" class="btn btn-info">Add User</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <app-formarraydemo></app-formarraydemo> -->
<!-- <app-arrayform></app-arrayform> -->
<!-- <app-formarray></app-formarray> -->
<!-- <app-uload-files></app-uload-files> -->
<!-- <app-dynamicformarray></app-dynamicformarray> -->
<!-- <app-selectdemo></app-selectdemo> -->
<app-loginbuilder></app-loginbuilder>