<!-- <app-demobinding></app-demobinding> -->
<!-- <app-demo></app-demo> -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-employee></app-employee> -->
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
<!-- <app-studentinfo></app-studentinfo> -->
<!-- <app-salaryslip></app-salaryslip> -->
<!-- <app-fordemo1></app-fordemo1> -->
<!-- <app-product></app-product> -->
<!-- <app-student></app-student> -->
<!-- <app-testswitch></app-testswitch> -->
<!-- <app-iterationdemo></app-iterationdemo> -->
<!-- <app-iterationandcondition></app-iterationandcondition> -->
<!-- <app-styledemo></app-styledemo> -->
<!-- <app-classdemo></app-classdemo> -->
<!-- <app-component></app-component> -->
<!-- <app-hiddenproperty></app-hiddenproperty>////////////// -->
<!-- <app-brosereventdemo></app-brosereventdemo>///////// -->
<!-- <app-child></app-child> -->
<!-- <app-parent></app-parent> -->
<!-- <app-employee-crud-example></app-employee-crud-example> -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-pipedemotwo></app-pipedemotwo> -->

<!-- {{ 5 | custompipe: '2' }}<br /> -->
<!-- {{ 5 | custompipe }}<br /> -->
<!-- <app-productpipedemo></app-productpipedemo> -->
<!-- <app-employeefilterpipe></app-employeefilterpipe> -->
<!-- <app-msgdemopipe></app-msgdemopipe> -->
<!-- <app-productsdata></app-productsdata> -->
<!-- <app-lifecycle></app-lifecycle> -->
<!-- <app-parentcycle></app-parentcycle> -->
<!-- <app-parentsearch></app-parentsearch> -->
<app-contactform></app-contactform>