<!-- <h2 style="color: violet">About Menu from main selected</h2>
<a style="color: red" [routerLink]="['/about']">About-Home</a>
<a style="color: black" [routerLink]="['/about/item','LED-TV']">Television set</a>
<a style="color: blue" [routerLink]="['/about/item','REFRIGIRATOR']">Fridge</a> -->
<section class="about-section">
  <article class="about-article animated slideInLeft">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus
      deserunt ipsa laboriosam natus? A accusamus corporis culpa dignissimos
      dolorem doloremque esse excepturi expedita facere in inventore ipsa ipsam
      iusto nam nemo porro, quae quasi sunt unde vel vitae voluptatum!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque itaque
      maxime, natus placeat possimus quisquam sunt? Alias aperiam aut
      consequatur delectus, incidunt necessitatibus quam quas quos sapiente
      vitae? Accusantium alias animi autem distinctio dolor dolores ea ipsa iste
      libero molestiae, nesciunt nobis non odio, placeat rerum sed ut vero
      voluptate.
    </p>
  </article>
</section>
<div class="inner-outlet">
  <router-outlet></router-outlet>
</div>
